.contactInfo {
  display:flex;
  flex-direction: column;
  margin:0 auto;
  width:82%;
  background-color: #00AAE7;
}

.contactForm {
  margin:0 auto;
  width:100%;
  margin:5em 0;
}



.contactForm button{
  margin-top: 2em;
  width:50%;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:100%;
  margin: 0 auto;
}


@media only screen and (max-width: 600px){
  .contactForm input{
    width:100%;
  }

  .contactForm button{
    width:100%;
  }
}

@media only screen and (max-width: 800px){
  .name{
    flex-direction: column;
  }

  .contactForm{
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }

}

/*Loader*/


.loader {
  margin: 0 auto;
  border: 8px solid darkgrey; /* Light grey */
  border-top: 8px solid rgba(0, 187, 255, 0.6); /* Blue */
  border-bottom: 8px solid rgb(250, 202, 24) ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}