.contactInfo {
  display:flex;
  flex-direction: column;
  margin:0 auto;
  width:70%;
 
}

.contactForm {
  margin:0 auto;
  width:100%;
  margin-bottom:5em;
}

.contactForm input{
  width:50%;
  
}

.contactForm button{
  margin-top: 2em;
  width:50%;
}

@media only screen and (max-width: 600px){
  .contactForm input{
    width:100%;
  }

  .contactForm button{
    width:100%;
  }
}
