.contactInfo {
  display:flex;
  flex-direction: column;
  margin:0 auto;
  width:82%;
  background-color: #00AAE7;
}

.contactForm {
  margin:0 auto;
  width:100%;
  margin:5em 0;
}



.contactForm button{
  margin-top: 2em;
  width:50%;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width:100%;
  margin: 0 auto;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-bottom: 1.5em ;
}

.phone h1 {
  padding-left:5px;
  font-size:2em;
  color:black;
}

.phone img {
  width: 30px;
  height: 20px;
}

.usphone{
  display: flex;
  flex-direction: row;
  position: relative;
  right:30px
  
}

.phone input{
  position: relative;
  right:30px
}



.login-wrapperbg{
  width:100%;
  background-color: white;
}

.login-wrapper{
  width:800px;
  margin: 4em auto 0 auto;
  
}

.top-bar2{
  border-bottom: 1px #E5E6E7 solid;
  margin-top:15px;
}

.top-bar2 .yellow{
  width:33px;
  height:65px;
  margin-left:0px;
}

.login-form{
  padding:30px 0;
}

.top-form{
  margin-bottom: 2em;
}
.top-form h1{
  font-size: 2em;
  font-weight: 800;
  font-family: 'Open Sans',Helvetica;
}

.top-form h2 {
  font-size: 2em;
  font-family: 'Open Sans',Helvetica;
  margin-top:.5em;
}

.bottom-form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width:40%;
}

.bottom-form button{
  width:50%;
  margin: 1em auto 0 auto;
}

@media only screen and (max-width: 600px){
  .contactForm input{
    width:100%;
  }

  .contactForm button{
    width:100%;
  }
}

@media only screen and (max-width: 800px){
  .name{
    flex-direction: column;
  }

  .usphone{
    position: static;
  }
  
  .phone input{
    position: static;
  }


  .contactForm{
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }

}

/*Loader*/


.loader {
  margin: 0 auto;
  border: 8px solid darkgrey; /* Light grey */
  border-top: 8px solid rgba(0, 187, 255, 0.6); /* Blue */
  border-bottom: 8px solid rgb(250, 202, 24) ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}