/*webpage1*/

.webpage{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width:100%;

}

/*landing page*/
.landing{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height:100%
}




/*Shop and Sign topbar*/
.top-bar{
  max-width: 1200px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 195, 0);
  
}

.topBar-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width:50%;
  
}

.topBar-left h1{
  font-size: 50px;
  margin-left: 35px;
}

.yellow{
  width:120px;
  height:120px;
}

.navbar-wrapper{
  width:50%;
  display: flex;
  justify-content: flex-end;
}

.nav-bar {
  display:flex;
  flex-direction: row;
  width:100%;
  margin-right: 2em;
  margin-left: 2em;
}

.top-bar .box {
  border-right: 2px solid #00AAE7;
}

.top-bar .link {
  width: 100%;
  
}

.top-bar .link:hover {
    background:#00AAE7;
   
 
}

.top-bar .link button:hover {

    color: rgb(255, 195, 0);
    
  }


/* Title */

.top-header {
  font-size: 2em;
  padding-top: 2em;
}


.top-header h1 {
  font-size: 3em;
  color: whitesmoke;
  /*text-shadow: 2px 2px black;*/ /*might be better without*/
  cursor: default;
  font-family: "Open Sans";
  font-weight: bold;
}

/*Lets get started*/
.zipcode-wrapper{
  max-width:40em;
  width:100%;
  display:flex;
  justify-content: center;

  border-radius: 3em;
  
}

.zipinput-wrapper{
  width:70%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-top-color: rgba(0, 187, 255, 0.6);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: rgba(0, 187, 255, 0.6);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgba(0, 187, 255, 0.6);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-radius: 3em 0 0 3em;
}

.zipCode {
  margin-top:1.2em;
  height:250px;
}

.zipCode h2 {
  color:whitesmoke;
  font-size: 1.7em;
  cursor: default;
}

.headsub-wrapper {
  margin-bottom:3em;
  padding: 0 5em;
}

.headsub-wrapper h2 {
  padding-top:.5em;
  font-size: 2.3em;
  color:whitesmoke
}

.inputContainer {
  margin:1em 0 2em 0;
  display:flex;
  flex-direction: row;
  justify-content: center;

}




.agecheck-wrapper{
  position: fixed;
  display:flex;
  align-items: center;
  z-index:1;
  left: 0;
  top:0;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.4);
  width:100%;
  height:100vh;
}

.agecheck-wrapper p {
  font-size:.8em;
  font-weight: bold;
  letter-spacing: none;
  line-height: 1.3em;
}

.agecheck-wrapper p:first-of-type{
  padding-bottom: .5em;
}

.agecheck-wrapper p:last-of-type{
  color: rgb(55, 56, 56);
  font-weight: normal;
}

.text{
  padding-bottom: 1em;
}

/*zipcode part*/

.zipcode-section{
  margin-top: 150px;
}

