.form-wrapper {
    max-width:800px;
    width: 100%;
    display:flex;
}

/*Cards*/

.info-container {
    margin-top:3em;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    justify-content: center;
    
  }

  .info-container h1 {
      color:white;
      font-size:2.5em;
  }

  .question-title{
      margin-bottom: 6em;
      width:80%;
  }
  

img{
    width:100%;
    height:auto;
}


.media-wrapper{
    display:flex;
    justify-content: space-evenly;
    width:840px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
   
}

.selection {
    border:.1em solid rgba(0,187,255,0.2);
    cursor:pointer;
    display:flex;
    align-content: baseline;
    margin: 1em 2em;
    background: linear-gradient(to bottom, rgba(0,170,231, .10), rgba(0,170,231, .10));
    border-radius: .2em;
    
}

.selection:hover {
    
    background-color: rgba(0,187,255,0.1)
}

.selection:active{
    opacity: none;
}


input[type='checkbox'] {
    display:none;
   
}

